COOKIE_SECRET1="1234567890"
COOKIE_SECRET2="qwertyuiop"
DATABASE_URL="mongodb+srv://kk:1234567890@cluster0.jhvjyxl.mongodb.net/portfolio-remix"
NODE_ENV="developmennt"
JWT_SECRET="0987654321"
CLOUDINARY_CLOUD_NAME=bdu$3g9v
CLOUDINARY_API_KEY=56467486463785
CLOUDINARY_API_SECRET=jhgjhgkHEH3456*gj
FALLBACK_IMAGE=https://res.cloudinary.com/bdu$3g9v/image/upload/v1785858/myportfolio/lhhufvydyvjuf.png
